<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<footer th:fragment="footer" class="page-footer font-small bg-light mt-5 text-white">
    <div class="pb-5 pt-5">
        <div id="social-network" class="d-flex justify-content-center">
            <a class="nav-link" href="https://www.facebook.com/aleksander.diachenko">
                <em class="fab fa-facebook-f"></em></a>
            <a class="nav-link" href="https://www.linkedin.com/in/alexander-diachenko/">
                <em class="fab fa-linkedin-in"></em></a>
            <a class="nav-link" href="https://github.com/oleksandr-diachenko">
                <em class="fab fa-github"></em></a>
            <a class="nav-link" href="https://t.me/Oleksandr_Diachenko">
                <em class="fab fa-telegram"></em></a>
            <a class="nav-link" href="mailto:mail.positiv@gmail.com">
                <em class="fas fa-at"></em></a>
        </div>
    </div>
    <div class="bg-secondary footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://github.com/oleksandr-diachenko" class="text-white">Oleksandr Diachenko</a>
    </div>
</footer>
</html>