<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<nav th:fragment="header" class="mb-1 navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">Додому</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/recipes}">Рецепти</a>
            </li>
            <li>
                <form class="form-inline" method="get" action="#" th:action="@{/recipes/create}" enctype="multipart/form-data" >
                    <input class="form-control" style="width: 80px" th:name="ingredientsCount" type="number" min="1" value="1" step="1" placeholder="Кількість ингредіентів" aria-label="Створити">
                    <button class="btn btn-outline-secondary" type="submit">Створити</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
</html>