<div th:fragment="recipe-table" xmlns:th="http://www.w3.org/1999/xhtml">

    <table th:id="'table' + ${recipe.recipe.id}" class="table table-bordered">
        <caption class="font-italic" th:text="'Таблиця інгредієнтів для: ' + ${recipe.recipe.name}"></caption>
        <thead>
        <tr>
            <th class="text-center align-middle" scope="col" rowspan="3">Продукти</th>
            <th class="text-center" scope="col" colspan="4">Маса, <span class="font-italic"> г</span></th>
            <th class="text-center" scope="col" colspan="6">Хімічний склад, <span class="font-italic"> г</span></th>
            <th class="text-center align-middle" scope="col" colspan="2" rowspan="2">Енергетична цінність, <span class="font-italic"> ккал</span></th>
        </tr>
        <tr>
            <th class="text-center" scope="col" colspan="2">брутто</th>
            <th class="text-center" scope="col" colspan="2">нетто</th>
            <th class="text-center" scope="col" colspan="2">білки</th>
            <th class="text-center" scope="col" colspan="2">жири</th>
            <th class="text-center" scope="col" colspan="2">вуглеводи</th>
        </tr>
        <tr>
            <th scope="col">ясла</th>
            <th scope="col">садок</th>
            <th scope="col">ясла</th>
            <th scope="col">садок</th>
            <th scope="col">ясла</th>
            <th scope="col">садок</th>
            <th scope="col">ясла</th>
            <th scope="col">садок</th>
            <th scope="col">ясла</th>
            <th scope="col">садок</th>
            <th scope="col">ясла</th>
            <th scope="col">садок</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ingredient : ${recipe.ingredients}">
            <th th:text="${ingredient.recipeIngredient.ingredient.name}"> -</th>

            <td th:text="${ingredient.recipeIngredient.nurseryQuantity.amountNet}"> -</td>
            <td th:text="${ingredient.recipeIngredient.kindergartenQuantity.amountNet}"> -</td>

            <td th:text="${ingredient.recipeIngredient.nurseryQuantity.amountGross}"> -</td>
            <td th:text="${ingredient.recipeIngredient.kindergartenQuantity.amountGross}"> -</td>

            <td th:text="${ingredient.nurserySumProtein}"> -</td>
            <td th:text="${ingredient.kindergartenSumProtein}"> -</td>

            <td th:text="${ingredient.nurserySumFat}"> -</td>
            <td th:text="${ingredient.kindergartenSumFat}"> -</td>

            <td th:text="${ingredient.nurserySumCarbohydrate}"> -</td>
            <td th:text="${ingredient.kindergartenSumCarbohydrate}"> -</td>

            <td th:text="${ingredient.nurseryEnergyValue}"> -</td>
            <td th:text="${ingredient.kindergartenEnergyValue}"> -</td>
        </tr>
        </tbody>
    </table>
</div>