<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: head"></head>
<link th:href="@{/css/404.css}" rel="stylesheet"/>
<body>
<nav th:replace="fragments/header :: header"></nav>
<div class="container">
    <div id="error">
        <div class="error text-center">
            <div>
                <h2 class="text-danger">404 - Сторінка не знайдена</h2>
                <p class="text-info">Сторінка, яку ви шукаєте була удалена, перейменована або тимчасово не доступна.</p>
                <a class="text-primary" th:href="@{/}">додому</a>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>