<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: head"></head>
<body>
<nav th:replace="fragments/header :: header"></nav>
<div class="container">
    <div class="mt-5">
        <ul class="nav nav-tabs">
            <li class="nav-item" th:each="category,iter : ${categories}">
                <a class="nav-link" th:classappend="${iter.first} ? 'show active'" data-toggle="tab"
                   th:href="@{'#category' + ${category.category.id}}">
                    <label th:text="${category.category.name}"></label>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade" th:classappend="${iter.first} ? 'show active'"
                 th:id="category + ${category.category.id}" th:each="category,iter : ${categories}">
                <div class="card" th:each="recipe : ${category.recipes}">
                    <h5 class="mb-0">
                        <button th:text="${recipe.recipe.name}" class="btn btn-link"
                                data-toggle="collapse"
                                aria-expanded="true"
                                th:attr="aria-controls='collapse' + ${iter.index}, data-target='#collapse' + ${iter.index}">
                        </button>
                    </h5>

                    <div th:id="collapse + ${iter.index}" class="collapse"
                         th:attr="aria-labelledby='heading' + ${iter.index}">
                        <div class="card-body">
                            <div th:include="fragments/recipe-table :: recipe-table" th:with="recipe=${recipe}"></div>
                            <span class="font-italic"> Технология изготовления:</span>
                            <p class="pl-4" th:text="${recipe.recipe.description}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>