<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: head">
    <link th:href="@{/css/recipe.css}" rel="stylesheet"/>
</head>
<script type="text/javascript" th:src="@{/js/table.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.tableTotal.js}"></script>
<body>
<nav th:replace="fragments/header :: header"></nav>
<div class="container">
    <div class="mt-5">
        <ul class="nav nav-tabs">
            <li class="nav-item" th:each="category, categoryIterator : ${categories}">
                <a class="nav-link" th:classappend="${categoryIterator.first} ? 'show active'" data-toggle="tab"
                   th:href="@{'#category' + ${category.category.id}}">
                    <label class="rotate-l-90" th:text="${category.category.name}"></label>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade" th:classappend="${categoryIterator.first} ? 'show active'"
                 th:id="category + ${category.category.id}" th:each="category, categoryIterator : ${categories}">
                <div class="card" th:each="recipe : ${category.recipes}">
                    <h5 class="mb-0">
                        <button th:text="${recipe.recipe.name}" class="btn btn-link"
                                data-toggle="collapse"
                                aria-expanded="true"
                                th:attr="aria-controls='collapse' + ${recipe.recipe.id},
                                data-target='#collapse' + ${recipe.recipe.id}">
                        </button>
                    </h5>

                    <div th:id="collapse + ${recipe.recipe.id}" class="collapse"
                         th:attr="aria-labelledby='collapse' + ${recipe.recipe.id}">
                        <div class="card-body">
                            <div th:include="fragments/recipe-table :: recipe-table" th:with="recipe=${recipe}"></div>
                            <span class="font-italic"> Технологія приготовання страви:</span>
                            <p class="pl-4" th:text="${recipe.recipe.description}"></p>
                        </div>
                        <a th:href="@{/recipes/update(name=${recipe.recipe.name})}" class="btn btn-link">update</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-right fixed-bottom">
            <a class="text-muted font-weight-bold" th:href="@{#}">
                <em class="far fa-arrow-alt-circle-up" style=" font-size: 35px;color: lightgray;"></em>
            </a>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>